{% extends 'ag_menu.html.twig' %}

{% block menu %}

<li class="treeview {% if option is defined and (option == 'product_list' or option == 'product_create' or option == 'product_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>产品库</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'product_list' %}class="active"{% endif %}><a href="{{ path('product_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 列表</a></li>
        <li {% if option is defined and option == 'product_create' %}class="active"{% endif %}><a href="{{ path('product_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 录入</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'boom_list' or option == 'boom_create' or option == 'boom_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>产品配件</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'boom_list' %}class="active"{% endif %}><a href="{{ path('boom_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 列表</a></li>
        <li {% if option is defined and option == 'boom_create' %}class="active"{% endif %}><a href="{{ path('boom_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 录入</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'brand_list' or option == 'brand_create' or option == 'brand_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>品牌管理</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'brand_list' %}class="active"{% endif %}><a href="{{ path('brand_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 列表</a></li>
        <li {% if option is defined and option == 'brand_create' %}class="active"{% endif %}><a href="{{ path('brand_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 录入</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'category_list' or option == 'category_create' or option == 'category_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>品类管理</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'category_list' %}class="active"{% endif %}><a href="{{ path('category_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 列表</a></li>
        <li {% if option is defined and option == 'category_create' %}class="active"{% endif %}><a href="{{ path('category_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 录入</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'material_list' or option == 'material_create' or option == 'material_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>材质管理</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'material_list' %}class="active"{% endif %}><a href="{{ path('material_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 列表</a></li>
        <li {% if option is defined and option == 'material_create' %}class="active"{% endif %}><a href="{{ path('material_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 录入</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'provider_list' or option == 'provider_create' or option == 'provider_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>供应商</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'provider_list' %}class="active"{% endif %}><a href="{{ path('provider_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 列表</a></li>
        <li {% if option is defined and option == 'provider_create' %}class="active"{% endif %}><a href="{{ path('provider_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 录入</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'trademark_list' or option == 'trademark_create' or option == 'trademark_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>商标库</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'trademark_list' %}class="active"{% endif %}><a href="{{ path('trademark_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 列表</a></li>
        <li {% if option is defined and option == 'trademark_create' %}class="active"{% endif %}><a href="{{ path('trademark_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> 录入</a></li>
    </ul>
</li>

{% endblock %}