{% extends 'ag_base/backend.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script src="https://cdn.staticfile.org/echarts/4.4.0-rc.1/echarts.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#provider_list").dataTable({
				serverSide: true,
				ajax: {
				    "url": "provider/list",
                    "type": "POST"
				},
				columns: [
					{ "data": "code"},
					{ "data": "name"},
					{ "data": "license"},
					{ "data": "address"},
					{ "data": "contact"},
					{ "data": "phone"},
                    {
						"orderable": false,
						"data": null,
						"defaultContent": "<div class='radar-cell' style='width:250px;height:250px'></div>",
                        "searchable": false
					},
					{
						"orderable": false,
						"data": null,
						"defaultContent": null,
                        "searchable": false
					}
				],
				rowCallback: function( row, data ) {
					var actions = '<a href="provider/edit/' + data.{{primary_key}} + '" class="btn btn-primary btn-xs">Edit</a> <a href="provider/delete/' + data.{{primary_key}} + '" onclick="return confirm_delete();" class="btn btn-danger btn-xs">Delete</a>';
					$('td:eq(7)', row).html( actions );
                },
                initComplete: function( settings, json ) {
                    $.each($('.radar-cell'), function(i, e){
                        echarts.init(e).setOption({
                            tooltip: {},
                            radar: {
                                // shape: 'circle',
                                name: {
                                    textStyle: {
                                        color: '#fff',
                                        backgroundColor: '#999',
                                        borderRadius: 3,
                                        padding: [3, 5]
                                    }
                                },
                                indicator: [
                                    { name: '工程背景', max: 20},
                                    { name: '研发实力', max: 20},
                                    { name: '产能', max: 20},
                                    { name: '价格', max: 20},
                                    { name: '账期', max: 20},
                                    { name: '服务', max: 20}
                                ]
                            },
                            series: [{
                                name: json.data[i].name,
                                type: 'radar',
                                // areaStyle: {normal: {}},
                                data : [
                                    {
                                        value : [json.data[i].background, json.data[i].technology, json.data[i].capacity, json.data[i].price, json.data[i].net, json.data[i].service],
                                        name : json.data[i].name,
                                        areaStyle: {
                                            normal: {
                                                opacity: 0.9,
                                                color: new echarts.graphic.RadialGradient(0.5, 0.5, 1, [
                                                    {
                                                        color: '#B8D3E4',
                                                        offset: 0
                                                    },
                                                    {
                                                        color: '#72ACD1',
                                                        offset: 1
                                                    }
                                                ])
                                            }
                                        }
                                    }
                                ]
                            }]
                        });
                    });
				}
			});
        });

        function confirm_delete(){
            if(!confirm("Are you sure? This action cannot be undone.")) { 
                return false;
            }
        }
    </script>
{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'provider_list'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Provider list
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'ag_alerts.html.twig' %}

                        <div class="box">
                            <div class="box-header">
                                
                            </div><!-- /.box-header -->

                            <div class="box-body table-responsive">
                                <a class="btn btn-primary" href="{{ path('provider_create') }}">Create new provider</a>
<!--
<a class="btn btn-primary" href="{{ path('provider_downloadList') }}">Download list of provider as PDF</a>
-->
                                <br /><br />
                                <table id="provider_list" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>编码</th>
                                            <th>名字</th>
                                            <th>执照</th>
                                            <th>地址</th>
                                            <th>联系人</th>
                                            <th>电话</th>
                                            <th style="width: 200px">雷达图</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
